#capa{
    background-image: url('../img/capa.png');
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 85vh;
    background-position-y:bottom;
}

#capa-1{
    width: 50%;
    padding-left: 7%;
    margin-top: 15vh;
}
#capa-1 h1{
    color: white;
    font-family: OPENBOLD;
    font-size: 6vw;
    z-index: 2;
    position: absolute;
}
#capa-1  img{
    width: 4.1%;
    position: absolute;
    left: 20.3%;
    z-index: 1;
}
#capa-1 h3{
    color: #FFFFFF;
    font-family: OPENBOLD;
    font-size: 3VW;
    margin-top: 14%;
}
#capa-1 h6{
    color: #FFFFFF;
    font-family: OP01;
    font-size: 1.7VW;
    margin-top: 3%;
}
#capa-2{
    width: 50%;
    display: fLex;
    justify-content: center;
    align-items: center;
}
#capa-2  span{
    padding: 11%;
    padding-left: 60%;
    padding-right: 60%;
    background-color: #FFFFFF;
    color: #0B2244;
    font-size: 1.4vw;
    font-family: OPENREGULAR;
}

@media (max-width: 1050px){
    #capa{
        flex-wrap: wrap;
        height: 110vw;
        background-position-x: 80%;
    }
    #capa-1{
        width: 100%;
        margin: 0;
        padding: 5%;
        margin-top: 10%;
    }
    #capa-1 h1{
        font-size: 15vw;
    }
    #capa-1 h3{

        font-size: 7VW;
        margin-top: 18%;
    }
    #capa-1 h6{
        font-size: 4.7VW;
    }
    #capa-1  img{
        width: 9%;
        position: absolute;
        left: 39%;
        z-index: 1;
    }
    #capa-2{
        width: 100%;
        justify-content: start;
        align-items: start;
        padding: 5%;
    }
    #capa-2  span{
        position: absolute;
        padding: 2%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 4vw;
        top: 95vw;
    }
}

#sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10%;
}

#sobre-1{
    width: 65%;
}

#sobre-1 h4{
    font-size: 1.6vw;
    font-family: MONT;
    color: #133E7D;
    margin-bottom: 0.7%;
}

#sobre-1 h1{
    font-size: 2.4vw;
    font-family: MONT;
    margin-bottom: 5%;
}
#sobre-1 h1 span{
    color: #133E7D;
}
#listra{
    position: absolute;
    padding: 0.08%;
    margin-top: -1%;
    margin-left: 11%;
    width: 3%;
    border-radius: 500px;
    background-color:#133E7D;
}

#sobre-1 h6{
    font-size: 1.4vw;
    font-family: OP01;
    color: #22201e;
}
#sobre-1 a{
    color: #133E7D;
    font-size: 1.4vw;
    font-family: OPENREGULAR;
    text-decoration: underline;
}
#sobre-2{
    padding: 1%;
    width: 35%;
}
#sobre-2 img{
    width: 100%;
}

@media (max-width: 1050px){
    #sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #sobre-1{
        width: 100%;
        
    }
    #sobre-2{
        width: 100%;
    }
}