nav{
    position: fixed;
    width: 100%;
    z-index: 8;
}
nav ul {
    background-color: #fff;
    list-style: none;
    display: grid;
    grid-template-columns: 25% auto auto auto auto auto 25% 16% ;
    grid-template-rows: auto ;
    align-items: center;
}


.itens-menu{
    padding: 7%;
}

.itens-menu a{
    color: #0b2244d7;
    font-family: RL01;
    font-size: 1.2vw;
    transition: 0.3s;
}

.itens-menu a:hover{
    color: #E1A72C;
}

#orçamento{
    padding: 18%;
    background-color: #0B2244;
    text-align: center;
}
#orçamento a{
    color: white;
    font-size: 1.2vw;
    font-family: RL01;
}

#logo a img{
    margin-left: 15%;
    width: 23%;
}

#hambur{
    display: none;
    color: #fff;
}
#close-menu{
    display: none;
    color: #133E7D;
}
#seta-orçamento{
    position: absolute;
    margin-top: -0.2%;
    margin-left: 0.3%;
}
#text-menu-mobile-1,#text-menu-mobile-2{
    font-family: OPENREGULAR;
    font-size: 3.5vw;
    margin-top: 1.6%;
    margin-left: 2%;
    display: none;
}


@media (max-width: 1050px){
    nav{
        position: fixed;
        width: 90%;
        padding: 5%;
        background-color: rgba(240, 248, 255, 0);
        z-index: 9;
        display: flex;
    }
    nav ul{
        position: fixed;
        height: 100%;
        width: 100%;
        overflow: scroll;
        left: -2000%;
        grid-template-rows: auto auto auto auto auto auto auto auto ;
        grid-template-columns: auto;
        justify-content: center;
        transition: 0.2s ease-in-out;
        z-index: 9;
        margin-top: 9.5%;
    }
    #orçamento{
        padding: 5%;
        font-size: 4vw;
        margin-bottom: 13%;
    }
    #orçamento a{
        font-size: 4vw;
    }
    .itens-menu a{
        font-size: 5vw;
    }
    #logo a img{
        margin-left: 38%;
        width: 25%;
        padding-top: 5%;
    }
    #hambur{
        display: block;
        color: #fff;
    }
    .itens-menu{
        text-align: center;
        padding: 1%;
    }
    #text-menu-mobile-1{
        display: block;
        color: #fff;
        margin-top: 0;
        position: static;
       }
    #text-menu-mobile-2{
        color: #133E7D;
        margin-top: 0;
        position: static; 
    }
    #menu-mobile{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

}

